{{> head }}
{{> navbar }}

    <div class="row p-2">
        <div class="col-8">
        <p>El estudio de factibilidad, para la creación de la Universidad Tecnológica de Aguascalientes, se realizó de febrero a agosto de 1991, y los cursos iniciaron en septiembre del mismo año, en instalaciones provisionales habilitadas para tal fin por el Gobierno del Estado.  

El primer ciclo de actividades académicas de la UTA, comenzó con tres carreras: Mantenimiento Industrial, Procesos de Producción y Administración, cuya apertura se sustentó en las necesidades señaladas por el sector productivo del entorno.
 
Bajo este mismo esquema, se ofertaron las carreras de:

    1992  Informática (Ahora Tecnologías de la Información y Comunicación)
    1994 Comercialización 
    1995 Ofimática  (Ya no se imparte)
    1997 Contabilidad Corporativa (Ahora Contaduría)  
    2002 Electrónica y Automatización  
    2003 Paramédico  
    2006 Mecatrónica  </p>
        
    </div>
    <div class="col-4">
        <img src="assets/img/logoutags.png" class="img-thumbnail"  width="400" height="400" alt="">
    </div>
    </div>
    {{> footer}}